@import 'styles/abstracts/mixins';
@import 'styles/abstracts/variables';

.friend-request-section {
  width: 100%;
  .request-box {
    @include user-item;
    .nickname {
      font-size: $font-md;
      color: $color-blue3;
      padding-left: 10px;
    }
    .button-box {
      @include flex-center;
      gap: 10px;
    }
  }
}