@import 'styles/abstracts/mixins';

.friend-list-section {
  width: 100%;
  margin: 15px 0;

  .list-box {
    .user-item {
      @include user-item;
      border-bottom: 1px solid #cfcfcf;
    }
  }
}
