@import 'styles/abstracts/variables';

input {
  flex: 1;
  min-width: 0;
  height: 50px;
  padding: 10px;
  font-size: $font-sm;
  margin: 5px 0px;
  border: 1px solid #bfbbbb;
  border-radius: 5px;
  outline: none;

  &:focus {
    border-color: $color-blue4;
  }
}
