@import 'styles/abstracts/variables';

.nickname-input {
  width: 100%;
  padding: 10px;
  font-size: $font-sm;
  border: 1px solid #bfbbbb;
  border-radius: 5px;
  outline: none;
  &:focus {
    border-color: $color-blue4;
  }
}