@import 'styles/abstracts/variables';
@import 'styles/abstracts/mixins';

.user-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: $font-md;
  width: 70%;
  padding-left: 10px;
  .nickname {
    &.search {
      color: $color-green4;
    }
    &.list {
      color: #967229;
    }
  }
  .win-lose-box {
    @include flex-center;
    gap: 5px;
    &.search {
      color: #5D9D43;
    }
    &.list {
      color: #967229;
    }
  }
}