@import 'styles/abstracts/mixins';
@import 'styles/abstracts/variables';
@import 'styles/abstracts/fonts';

.user-state {
  @include flex-center;
  padding-right: 10px;
  gap: 5px;
  .circle {
    width: 15px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    &.playing {
      background-color: red;
    }
    &.offline {
      background-color: #D9D9D9;
    }
  }
  span {
    font-family: 'ButtonFont';
    font-size: $font-sm;
  }
}