@import 'styles/abstracts/mixins';
@import 'styles/abstracts/variables';
@import 'styles/abstracts/fonts';

.user-state {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  gap: 5px;
  margin-right: 10px;
  color: #2d2d2d;

  .circle {
    width: 15px;
    aspect-ratio: 1/1;
    border: 2px solid #2d2d2d;
    border-radius: 50%;

    &.online {
      background-color: #5ccb1b;
    }

    &.offline {
      background-color: #c5c5c5;
    }

    &.playing {
      background-color: #ff0000;
    }
  }

  span {
    font-family: 'ButtonFont';
    font-size: $font-xs;
    white-space: nowrap;
  }
}
