@import 'styles/abstracts/fonts';
@import 'styles/abstracts/mixins';

* {
  font-family: 'NormalFont';
  box-sizing: border-box;
}

/* 문서 전체 여백과 패딩 제거 */
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, figure, blockquote, dl, dd {
  margin: 0;
  padding: 0;
}

/* 리스트 스타일 제거 */
ul, ol {
  list-style: none;
}

/* 기본 테두리 제거 */
img, iframe {
  border: 0;
}

/* 링크의 기본 스타일 제거 */
a {
  text-decoration: none;
  color: inherit;
}

button {
  all: unset; /* 기본 스타일 제거 */
  cursor: pointer; /* 마우스 커서 스타일 */
}