@import 'styles/abstracts/variables';
@import 'styles/abstracts/mixins';
@import 'styles/abstracts/fonts';

.modal {
  @include flex-center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;

  .container {
    background: white;
    border: 5px solid $color-blue4;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    width: 320px;
    max-width: 90%;
    min-height: 200px;
    max-height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    .image {
      position: absolute;
      top: -50px;
      left: 50%;
      transform: translateX(-50%);
      width: 80px;
      height: 80px;
      object-fit: cover;
    }

    .message {
      font-size: 35px;
      text-align: center;
      line-height: 1;
      margin-bottom: 20px;

      &.font-xl {
        font-size: $font-xl;
      }

      &.font-md {
        font-size: $font-md;
      }
    }

    .nickname-input {
      margin-bottom: 20px;

      input {
        width: 100%;
        padding: 10px;
        font-size: $font-sm;
        border: 1px solid #bfbbbb;
        border-radius: 5px;
        outline: none;

        &:focus {
          border-color: $color-blue4;
        }
      }

      .error-message {
        color: $color-red4;
        font-size: $font-xs;
        margin: 5px 0 0 10px;
      }
    }

    .buttons {
      display: flex;
      gap: 25px;
    }
  }
}
