@import 'styles/abstracts/variables';
@import 'styles/abstracts/mixins';

.menu a {
  @include flex-center;
  flex-direction: column;

  img {
    width: 36px;
    aspect-ratio: 1/1;
    opacity: 0.2;
  }

  span {
    font-size: $font-xs;
    color: #c6c6c6;
  }

  &:hover,
  &.active {
    img {
      opacity: 1;
    }

    span {
      color: #1b1b1b;
    }
  }
}
