@import 'styles/abstracts/mixins';
@import 'styles/abstracts/variables';

.navbar {
  @include flex-center;
  height: $size-navbar-height;
  gap: 20%;
  padding: 20px;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  border-top: #D6D6D6 1px solid;
}