@import 'styles/abstracts/variables';
@import 'styles/abstracts/mixins';

.user-rank-item {
  display: flex;
  align-items: center;
  position: relative;
  // 11개의 요소가 화면에 거의 꽉 차기 위해
  height: 8%; 
  border-radius: 10px;

  .rank-number-box {
    @include flex-center;
    position: absolute;
    left: 20px;
    font-size: $font-md;
    width: 38px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    position: relative;
    > img {
      position: absolute;
      top: -20px;
      width: 30px;
      aspect-ratio: 1/1;
    }
  }

  .nickname-box {
    @include flex-center;
    gap: 5px;
    position: absolute;
    left: 20%;
    .nickname {
      font-size: $font-lg;
    }
    .me-mark {
      @include flex-center;
      background-color: white;
      border: 1px solid $color-blue4;
      border-radius: 50%;
      width: 23px;
      aspect-ratio: 1/1;
      font-size: $font-xs;
      color: $color-blue3;
    }
  }

  .win-lose-box {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100px;
    position: absolute;
    right: 20px;
  }

  &:nth-child(1) {
    background-color: $color-blue3;
    .rank-number-box {
      color: $color-blue3;
      background-color: white;
      border: 1px $color-blue4 solid;
    }
  }
  // 2번째 요소부터 끝까지
  &:nth-child(n+2) {
    .rank-number-box {
      color: white;
      border: 1px white solid;
    }
  }
  &:nth-child(2), 
  &:nth-child(3), 
  &:nth-child(4) {
    .rank-number-box {
      background-color: #FCB01E;
    }
  }
  &:nth-child(2) {
    background-color: #F5CD6D;
    .rank-number-box {
      background-color: #FCB01E;
    }
  }
  &:nth-child(3) {
    background-color: #F5CD6D80;
    .rank-number-box {
      background-color: #FCB01E80;
    }
  }
  &:nth-child(4) {
    background-color: #F5CD6D50;
    .rank-number-box {
      background-color: #FCB01E50;
    }
  }
  //5번째 요소부터 끝까지
  &:nth-child(n+5) {
    background-color: #97CC8150;
    .rank-number-box {
      background-color: $color-green2;
    }
  }
}