@import 'styles/abstracts/mixins';

.guide-page {
  @include flex-center;
  flex-direction: column;
  padding: 24px 10px;
  gap: 30px;
  max-height: calc(100vh - 64px);
  
  > img {
    width: 23vh;
    aspect-ratio: 1/1;
  }
}
