@import 'styles/abstracts/mixins';

.ranking-page {
  padding: 0px 20px;
  section {
    // 전체화면에서 내브바(64px)과 제목(대략 66px)을 제외한 높이
    height: calc(100vh - 64px - 66px);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 9px;
  }
}