@import 'styles/abstracts/mixins';

.rank-page {
  padding: 0px 20px;

  .rank-section {
    display: flex;
    flex-direction: column;
    gap: 18px;
    // 전체화면에서 내브바(64px)과 제목(대략 80px)을 제외한 높이
    height: calc(100vh - 64px - 80px);

    .my-rank-section {
      height: 8%;
    }

    .users-rank-section {
      display: flex;
      flex-direction: column;
      gap: 9px;
      height: 90%;
    }
  }
}