@font-face {
  font-family: 'NormalFont';
  src: url('/assets/fonts/PF Stardust S Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ButtonFont';
  src: url('/assets/fonts/PDH.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GuideFont';
  src: url('/assets/fonts/SUITE.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}