@import 'variables';

@mixin modal-title {
  font-size: $font-md;
  color: black;
}

@mixin content-title {
  font-size: $font-md;
  color: black;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin user-item {
  @include flex-center;
  justify-content: space-between;
  gap: 10px;
  padding: 5px 0px;
}

@mixin disabled {
  pointer-events: none;
  color: #bababa;
  transform: translateY(6px);
  background-color: #6d6d6d;
  box-shadow: 0 2px 0 rgb(0, 0, 0, 0.7);
}
