//Font sizes
$font-xl: 35px;
$font-lg: 30px;
$font-md: 25px;
$font-sm: 23px;
$font-xs: 20px;

//Colors
$color-orange4: #77530a;
$color-orange3: #a87205;
$color-orange2: #ffd073;
$color-orange1: #ffe8ba;
$color-green4: #345d22;
$color-green3: #47862d;
$color-green2: #97cc81;
$color-green1: #dff3d7;
$color-blue4: #1c77b8;
$color-blue3: #4597d3;
$color-blue2: #b3dbf7;
$color-blue1: #ecf7ff;
$color-red4: #f54848;

//Sizes
$size-start-button: 150px;
$size-navbar-height: 64px;
