//Font sizes
$font-xl: 35px;
$font-lg: 30px;
$font-md: 25px;
$font-sm: 23px;
$font-xs: 20px;

//Colors
$color-orange4: #77530A;
$color-orange3: #A87205;
$color-orange2: #FFD073;
$color-orange1: #FFE8BA;
$color-green4: #345D22;
$color-green3: #47862D;
$color-green2: #97CC81;
$color-green1: #DFF3D7;
$color-blue4: #1C77B8;
$color-blue3: #4597D3;
$color-blue2: #ECF7FF;
$color-red4: #F54848;

//Sizes
$size-start-button: 150px;
$size-navbar-height: 64px;
