// Font sizes
$font-xl: 35px;
$font-lg: 30px;
$font-md: 25;
$font-sm: 23;
$font-xs: 20;

//Colors
$dark-orange: #A87205;
$light-orange: #FFD073;
$light-orange2: #FFE8BA;
$orange: #77530A;
$light-green: #97CC81;
$light-green2: #DFF3D7;
$green: #345D22;
$dark-green: #47862D;
$main-blue: #4597D3;
$dark-blue: #1C77B8;
$light-blue: #ECF7FF;
$red: #F54848;


