@import 'styles/abstracts/mixins';
@import 'styles/abstracts/variables';
@import 'styles/abstracts/fonts';

.guide-balloon {
  border-radius: 10px;
  position: relative;
  min-height: 48vh;

  .button-box {
    display: flex;
    justify-content: center;
    font-size: $font-xl;
    
    button {
      width: 50%;
      padding: 10px 20px;
      color: white;

      &.rule {
        color: $color-green3;
        border-right: 2px solid $color-green3;
      }

      &.control {
        color: $color-orange3;
        border-left: 2px solid $color-orange3;
      }

      &.disabled {
        color: #B5B5B5;
      }
    }
  }

  &.rule {
    border: $color-green3 solid 2px;
    background-color: #f4f8f2;

    &::after {
      border-top: 15px solid $color-green3;
    }
  }

  &.control {
    border: $color-orange3 solid 2px;
    background-color: #fffaee;

    &::after {
      border-top: 15px solid $color-orange3;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 18px;
    font-family: 'GuideFont';
    color: #3B3B3B;
    font-size: $font-md;
    padding: 20px;
    padding-left: 40px;
    text-align: left;
    line-height: 32px;

    &.rule {
      border-top: $color-green3 solid 2px;
    }

    &.control {
      border-top: $color-orange3 solid 2px;
    }

    li {
      position: relative;
      padding-left: 5px;

      &::before {
        content: '';
        position: absolute;
        top: 6px;
        left: -18px;
        width: 20px;
        aspect-ratio: 1/1;
        background-size: cover;
      }

      &.rule::before {
        background-image: url('../../../assets/images/green-egg.png');
      }

      &.control::before {
        background-image: url('../../../assets/images/egg.png');
      }
    }
  }

  &::after {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 0px solid transparent;
    content: "";
    position: absolute;
    bottom: -15px;
    left: calc(50% - 15px);
    
  }
}
