@import 'styles/abstracts/variables';
@import 'styles/abstracts/mixins';
@import 'styles/abstracts/fonts';

.long-button {
  @include flex-center;
  font-size: $font-md;
  font-family: 'ButtonFont';
  width: 95%;
  height: 37px;
  border-radius: 10px;
  background-color: black;
  margin-bottom: 10px;
  cursor: pointer;

  &.frog {
    box-shadow: 2px 2px 4px $color-green3;
    color: $color-green3;
    background-color: $color-green1;
  }

  &.chick {
    box-shadow: 2px 2px 4px rgba(255, 116, 36, 0.5);
    color: #f5803c;
    background-color: $color-orange1;
  }
}
