@import 'styles/abstracts/variables';
@import 'styles/abstracts/mixins';

.mini-button {
  @include flex-center;
  font-family: 'ButtonFont';
  width: 80px;
  height: 34px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  font-size: $font-sm;
  &.search {
    background-color: $color-green2;
  }
  &.add {
    background-color: $color-green2;
  }
  &.game {
    background-color: $color-orange2;
  }
  &.accept {
    background-color: $color-blue3;
  }
  &.reject {
    background-color: $color-blue2;
    color: $color-blue4;
    border: 1px solid $color-blue3;
  }
}