@import 'styles/abstracts/variables';
@import 'styles/abstracts/fonts';

.modal-button {
  font-family: 'ButtonFont';
  cursor: pointer;
  font-size: 25px;
  border: 1px solid $color-blue4;
  border-radius: 10px;

  width: 115px;
  height: 47px;

  &.primary {
    background-color: $color-blue4;
    color: $color-blue2;
  }

  &.secondary {
    background-color: $color-blue2;
    color: $color-blue4;
  }
}
