@import 'styles/abstracts/variables';
@import 'styles/abstracts/mixins';

.start-button {
  @include flex-center;
  font-family: 'ButtonFont';
  flex-direction: column;
  gap: 5px;
  position: relative;
  width: $size-start-button;
  aspect-ratio: 1/1;
  border-radius: 10px;
  font-size: $font-lg;
  cursor: pointer;
  white-space: pre-wrap;

  &.stranger {
    color: $color-green4;
    background-color: $color-green2;

    &.selected {
      border: 5px solid $color-green3;
    }
  }

  &.friend {
    color: $color-orange4;
    background-color: $color-orange2;

    &.selected {
      border: 5px solid $color-orange3;
    }
  }

  img {
    position: absolute;
    z-index: 500;
    aspect-ratio: 1/1;

    &.stranger {
      top: -25%;
      width: 70px;
      transform: rotate(-5deg);

      &.selected {
        top: calc(-25% - 7px);
      }
    }

    &.friend {
      top: -48%;
      width: 130px;
      transform: rotate(5deg);

      &.selected {
        top: calc(-48% - 9px);
      }
    }
  }
}
