@import 'styles/abstracts/mixins';
@import 'styles/abstracts/variables';
@import 'styles/abstracts/fonts';

.kakao-button {
  @include flex-center;
  cursor: pointer;
  width: 95%;
  min-height: 50px;
  border-radius: 25px;
  background-color: #fee500;
  box-shadow: 0 8px 0 #d3b700;
  transition: all 0.1s ease;

  &:hover {
    transform: translateY(3px);
    box-shadow: 0 5px 0 #d3b700;
  }

  &:active {
    transform: translateY(6px);
    background-color: darken(#fee500, 5%);
    box-shadow: 0 2px 0 #d3b700;
  }

  .content-box {
    @include flex-center;
    max-height: 33%;
    gap: 10px;

    img {
      width: 24px;
      aspect-ratio: 1/1;
    }

    span {
      font-size: $font-sm;
      color: rgba(0, 0, 0, 0.85);
    }
  }
}
