@import 'styles/abstracts/mixins';
@import 'styles/abstracts/variables';
@import 'styles/abstracts/fonts';

.logout {
  @include flex-center;
  background-color: #FEE500;
  width: 335px;
  min-height: 50px;
  gap: 20px;
  box-shadow: 3px 3px 4px rgba(0,0, 0, 0.25);
  border-radius: 10px;
  cursor: pointer;
  img {
    width: 26px;
    aspect-ratio: 1/1;  
  }
  span {
    font-size: $font-md;
    font-family: 'ButtonFont';
  }
}