@import 'styles/abstracts/variables';

.character {
  touch-action: none;

  &.selected {
    border: 2px solid $color-red4;
  }

  &.hidden {
    visibility: hidden;
  }

  &.shake {
    animation: shake 0.4s ease-in-out;
  }

  @keyframes shake {
    0%,
    100% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-4px);
    }
    50% {
      transform: translateX(4px);
    }
    75% {
      transform: translateX(-3px);
    }
  }
}

.character-img {
  &.large {
    height: 65px;
    width: 65px;
  }

  &.middle {
    height: 50px;
    width: 50px;
  }

  &.small {
    width: 30px;
  }
}
