@import 'styles/abstracts/variables';
@import 'styles/abstracts/mixins';
@import 'styles/abstracts/fonts';

.count {
  @include flex-center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;

  .seconds {
    font-size: 250px;
    font-family: 'ButtonFont';
    color: $color-blue4;
    -webkit-text-stroke: 8px #dff2ff;
    z-index: 1001;
  }
}
