@import 'styles/abstracts/variables';

.player-info {
  display: flex;
  align-items: center;

  .nickname {
    font-size: $font-lg;
    font-weight: bold;
    color: #333;
    margin-right: 15px;
  }

  .record {
    font-size: $font-xs;
    margin-right: 15px;

    &.frog {
      color: $color-green3;
    }
    &.chick {
      color: $color-orange3;
    }
  }

  .player-type {
    font-size: 16px;
    padding: 5px;
    margin-right: 10px;
    border-radius: 5px;

    &.frog {
      background-color: $color-green3;
      color: $color-green1;
    }

    &.chick {
      background-color: $color-orange3;
      color: $color-orange1;
    }
  }
}
