.square {
  width: 100px;
  height: 100px;
  border: 1px solid #ccc;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &.row-0,
  &.row-1 {
    border-bottom: 8px solid #ffb473;
  }

  &.col-0,
  &.col-1 {
    border-right: 8px solid #98db7c;
  }
}
