@import 'styles/abstracts/variables';
@import 'styles/abstracts/mixins';
@import 'styles/abstracts/fonts';

.loading-spinner {
  &.disabled {
    display: none;
  }

  img {
    @include absolute-center;
    z-index: 1000;
  }
}

.local-loading-spinner {
  width: 100%;

  img {
    width: 100px;
  }
}
